.form-box {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: green;
    margin: 10px 20px;
    font-size: 1.2em;
}

.field {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    background-color: red;
    width: 380px;
    margin: 2px 0px;
}

.field > input {
    width: 80px;
    font-size: 1.1em;
}