.form-box {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: green;
    margin: 10px 20px 0px;
    font-size: 1.2em;
}

.field {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    background-color: red;
    width: 380px;
    margin: 2px 0px;
}

.field > input {
    width: 80px;
    font-size: 1.1em;
}

.resultSection {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color:greenyellow;
    margin: 0px 20px;
    padding: 10px;
}

.resultBox {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    width: auto;
    height: 100px;
    margin: 5px;
    padding: 5px;
}

.resultPart1 {
    display: flex;
    align-items: center;

    background-color: blue;
}

.resultPart2 {
    display: flex;
    align-items: center;

    background-color: blueviolet;
}