.app-box {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 200px;
    background-color: red;
    margin: 10px 50px;
    padding: 0 20px;
}

.app-topic {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: white;
    width: 200px;
    height: 80px;
}

.daily-box {
    display: flex;
    justify-content: space-between;

    height: 130px;
    background-color: red;
    margin: 10px 50px;
    padding: 20px;
}

.daily-topic {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: white;
    width: 300px;
}