.main-box {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 200px;
    background-color: red;
    margin: 0 50px;
}

.topic-box {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: white;
    width: 100px;
    height: 50px;
}