<!DOCTYPE html>
<html lang="en">

<head>
    <meta chartset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Superapp</title>

    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>

    <header class="header">
        <p>cabeçalho</p>
    </header>

    <section class="main-box">
        <div class="topic-box">
            <h1>Tópico 1</h1>
            <p>Descrição</p>
        </div>
        <div class="topic-box">
            <h1>Tópico 2</h1>
            <p>Descrição</p>
        </div>
        <div class="topic-box">
            <h1>Tópico 3</h1>
            <p>Descrição</p>
        </div>
    </section>

    <footer class="footer">
        <p>rodapé</p>
    </footer>

</body>

</html> 