<!DOCTYPE html>
<html lang="en">

<head>
    <meta chartset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Superapp</title>

    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>

    <header class="header">
        <p>cabeçalho</p>
    </header>

    <section class="daily-box">
        <div class="daily-topic">
            <h2>Check-up diario</h2>
            <p>Boxes de afazeres</p>
            <ul>
                <li>
                    <label>
                        <input type="checkbox">
                        Estudar python
                    </label>
                </li>
                <li>
                    <label>
                        <input type="checkbox">
                        Tomar creatina e pílulas
                    </label>
                </li>
                <li>
                    <label>
                        <input type="checkbox">
                        Fazer alongamento
                    </label>
                </li>
            </ul>
        </div>
        <div class="daily-topic">
            <h2>Listagem temporária</h2>
            <p>Lista para incluir e excluir tarefas</p>
        </div>
    </section>

    <section class="app-box">
        <div class="app-topic">
            <h2>Açai Prime - Gerenciamento</h2>
            <p>Descrição</p>
            <a href="">Acessar</a>
        </div>
        <div class="app-topic">
            <h2>Tópico 2</h2>
            <p>Descrição</p>
        </div>
        <div class="app-topic">
            <h2>Tópico 3</h2>
            <p>Descrição</p>
        </div>
    </section>

    <footer class="footer">
        <p>rodapé</p>
    </footer>

</body>

</html> 